# Logs
logs
*.log
pnpm-debug.log*

# Misc
node_modules
*.local
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
idea
easy_deploy.sh
packages/frontend/.env
packages/indexer/.env
.pnpm-store
# Arweave
arweave-keyfile*
